[keyboard]
name = "roBa-rmk"
product_name = "roBa-rmk"
vendor_id = 0x4c4b
product_id = 0x4643
manufacturer = "RMK"
chip = "nrf52840"

[rmk]
ble_profiles_num = 5

[layout]
rows = 4
cols = 11
matrix_map = """
(0,0) (0,1) (0,2) (0,3) (0,4)                 (0,6) (0,7) (0,8) (0,9) (0,10)
(1,0) (1,1) (1,2) (1,3) (1,4) (1,5)     (3,6) (1,6) (1,7) (1,8) (1,9) (1,10)
(2,0) (2,1) (2,2) (2,3) (2,4) (2,5)     (3,7) (2,6) (2,7) (2,8) (2,9) (2,10)
(3,0) (3,1) (3,2) (3,3) (3,4) (3,5)     (3,8) (3,9)                   (3,10)
"""
layers = 8

[[layer]]
name = "Layer 0 - Default"
keys = """
Q     W     E     R          LT(7,T)                    LT(7,Y)  U   I      O     P
A     S     D     F          G       _       _          H        J   K      L     Minus
Z     X     C     V          B       _       _          N        M   Comma  Dot   Slash
Lctrl LGui  LAlt  Language2  Space   Tab     Backspace  Enter                     Escape
"""

[[layer]]
name = "Layer 1"
keys = """
_    _    _    _    _                   _    _    _    _    _
_    _    _    _    _    _         _    _    _    _    _    _
_    _    _    _    _    _         _    _    _    _    _    _
_    _    _    _    _    _         _    _                   _
"""

[[layer]]
name = "Layer 2"
keys = """
_    _    _    _    _                   _    _    _    _    _
_    _    _    _    _    _         _    _    _    _    _    _
_    _    _    _    _    _         _    _    _    _    _    _
_    _    _    _    _    _         _    _                   _
"""

[[layer]]
name = "Layer 3"
keys = """
_    _    _    _    _                   _    _    _    _    _
_    _    _    _    _    _         _    _    _    _    _    _
_    _    _    _    _    _         _    _    _    _    _    _
_    _    _    _    _    _         _    _                   _
"""

[[layer]]
name = "Layer 4"
keys = """
_    _    _    _    _                   _    _    _    _    _
_    _    _    _    _    _         _    _    _    _    _    _
_    _    _    _    _    _         _    _    _    _    _    _
_    _    _    _    _    _         _    _                   _
"""

[[layer]]
name = "Layer 5"
keys = """
_    _    _    _    _                   _    _    _    _    _
_    _    _    _    _    _         _    _    _    _    _    _
_    _    _    _    _    _         _    _    _    _    _    _
_    _    _    _    _    _         _    _                   _
"""

[[layer]]
name = "Layer 6"
keys = """
_    _    _    _    _                   _    _    _    _    _
_    _    _    _    _    _         _    _    _    _    _    _
_    _    _    _    _    _         _    _    _    _    _    _
_    _    _    _    _    _         _    _                   _
"""

[[layer]]
name = "Layer 7 - Configuration"

# User0 - User(N-1): switch to specific profile
# UserN: switch to next profile
# User(N+1): switch to previous profile
# User(N+2): clear current profile bond info
# User(N+3): switch default output between USB/BLE

keys = """
Bootloader  Reboot   _    _     _                       _      _      User8  Reboot  Bootloader
_           _        _    _     _     _          User6  User5  _      _      _       _
_           _        _    _     _     _          User0  User1  User2  User3  User4   User7
_           _        _    _     _     _          _      _                            _
"""

[ble]
enabled = true

# XIAO BLE nRF52840: Battery voltage is read from P0.31 (AIN7) with a voltage divider (1MΩ + 510kΩ), measuring across 510kΩ.
# Note that P0.14 (VBAT_ENABLE) must be set LOW to enable battery voltage reading. This is done in central.rs and peripheral.rs via the controller initialization.
battery_adc_pin = "P0_31"
adc_divider_measured = 510
adc_divider_total = 1510

[behavior]
morse = { hold_timeout = "200ms", permissive_hold = true }

[split]
connection = "ble"

[split.central]
rows = 4
cols = 5
row_offset = 0
col_offset = 6

[split.central.matrix]
row_pins = ["P0_03", "P0_28", "P0_29", "P1_11"]
col_pins = ["P1_15", "P1_14", "P1_13", "P1_12", "P0_10"]

[[split.peripheral]]
rows = 4
cols = 6
row_offset = 0
col_offset = 0

[split.peripheral.matrix]
row_pins = ["P0_03", "P0_28", "P0_29", "P1_11"]
col_pins = ["P1_15", "P1_14", "P1_13", "P1_12", "P0_10", "P0_09"]

[split.peripheral.input_device]
[[split.peripheral.input_device.encoder]]
internal_pullup = true
pin_a = "P0_05"
pin_b = "P0_02"
phase = "default"
resolution = 12
reverse = false

[storage]
# Uncomment to clear storage on boot
# clear_storage = true
