[keyboard]
name = "roBa"
product_name = "roBa"
vendor_id = 0x4c4b
product_id = 0x4643
manufacturer = "RMK"
chip = "nrf52840"

[layout]
rows = 4
cols = 11
matrix_map = """
(0,0) (0,1) (0,2) (0,3) (0,4)                 (0,6) (0,7) (0,8) (0,9) (0,10)
(1,0) (1,1) (1,2) (1,3) (1,4) (1,5)     (3,6) (1,6) (1,7) (1,8) (1,9) (1,10)
(2,0) (2,1) (2,2) (2,3) (2,4) (2,5)     (3,7) (2,6) (2,7) (2,8) (2,9) (2,10)
(3,0) (3,1) (3,2) (3,3) (3,4) (3,5)     (3,8) (3,9)                   (3,10)
"""
layers = 8
keymap = [
    [
        ["Q", "W", "E", "R", "T", "_", "Y", "U", "I", "O", "P"],
        ["A", "S", "D", "F", "G", "_", "H", "J", "K", "L", ";"],
        ["Z", "X", "C", "V", "B", "_", "N", "M", "KpComma", "KpDot", "KpSlash"],
        ["LCtrl", "LAlt", "LShift", "Space", "Space", "Tab", "Backspace", "Enter", "Escape", "_", "_"],
    ]
]

[ble]
enabled = true

[behavior]
tap_hold = { hold_timeout = "200ms", permissive_hold = true }

[split]
connection = "ble"

[split.central]
rows = 4
cols = 5
row_offset = 0
col_offset = 6
[split.central.matrix]
input_pins = ["P0_03", "P0_28", "P0_29", "P1_11"] # row
output_pins = ["P1_15", "P1_14", "P1_13", "P1_12", "P0_10"] # col

[[split.peripheral]]
rows = 4
cols = 6
row_offset = 0
col_offset = 0

[split.peripheral.matrix]
input_pins = ["P0_03", "P0_28", "P0_29", "P1_11"] # row
output_pins = ["P1_15", "P1_14", "P1_13", "P1_12", "P0_10", "P0_09"] # col
