name: Build RMK firmware
on:
  workflow_dispatch:
  pull_request:
#   push:
#     paths:
#       - "**"

jobs:
  # build:
  #   uses: haobogu/rmk/.github/workflows/user_build.yml@main
  #   with:
  #     keyboard_toml_path: "keyboard.toml"
  #     vial_json_path: "vial.json"

  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install clang dependencies
        run: sudo apt-get update && sudo apt-get install -y libclang-dev

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: thumbv7em-none-eabihf

      - name: Install cargo-make
        run: cargo install cargo-make

      - name: Build UF2
        run: cargo make uf2

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: roBa-rmk
          path: |
            roBa-central.uf2
            roBa-peripheral.uf2
