name: Build and Release RMK firmware

permissions:
  contents: write

on:
  workflow_dispatch:
    inputs:
      tag_name:
        description: "Release Tag (e.g. v1.0.0)"
        required: true
        default: "v0.0.0"
  push:
    tags:
      - "v*"

jobs:
  build:
    uses: ./.github/workflows/build.yml

  release:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: roBa-rmk
          path: firmware

      - name: Set Tag Name
        id: tag
        run: |
          if [ "${{ github.event_name }}" == "workflow_dispatch" ]; then
            echo "TAG_NAME=${{ inputs.tag_name }}" >> $GITHUB_ENV
          else
            echo "TAG_NAME=${{ github.ref_name }}" >> $GITHUB_ENV
          fi

      - name: Create Release
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh release create "$TAG_NAME" \
            firmware/*.uf2 \
            --draft \
            --title "$TAG_NAME" \
            --generate-notes
