name: Build and Release RMK firmware

permissions:
  contents: write

on:
  workflow_dispatch:
    inputs:
      tag_name:
        description: "Release Tag (e.g. v1.0.0)"
        required: true
        default: "v0.0.0"
  push:
    tags:
      - "v*"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install clang dependencies
        run: sudo apt-get update && sudo apt-get install -y libclang-dev

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: thumbv7em-none-eabihf

      - name: Install cargo-make
        run: cargo install cargo-make

      - name: Build UF2
        run: cargo make uf2

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: roBa-rmk
          path: |
            roBa-central.uf2
            roBa-peripheral.uf2

  release:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: roBa-rmk
          path: firmware

      - name: Set Tag Name
        id: tag
        run: |
          if [ "${{ github.event_name }}" == "workflow_dispatch" ]; then
            echo "TAG_NAME=${{ inputs.tag_name }}" >> $GITHUB_ENV
          else
            echo "TAG_NAME=${{ github.ref_name }}" >> $GITHUB_ENV
          fi

      - name: Create Release
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh release create "$TAG_NAME" \
            firmware/*.uf2 \
            --draft \
            --title "$TAG_NAME" \
            --generate-notes
